
<body>
<ul><p>Passwords must be:</p>
    <li><p>- At least 8 characters long, max length anything </p></li>
    <li><p>- Include at least 1 lowercase letter</p> </li>
    <li><p>- 1 capital letter</p> </li>
    <li><p>- 1 number</p></li>
    <li><p>- 1 special character => !@#$%^&* </p></li>
</ul>
</body>


