<div class="container-fluid" style="padding: 15px">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-3 col-sm-pull-9 sidebar-offcanvas"
             id="sidebar">
            <div class="list-group">
                <button  class="list-group-item active">Category</button>
                {{#each category_display}}
                    <a class="list-group-item" href="#" >{{name}}</a>
                {{/each}}
            </div>
        </div>

        <div class="col-xs-12 col-sm-9 col-sm-push-3">


            <div class="row">



            </div>
        </div>


    </div>


</div>



