body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



.linkDEL a:link{
  padding: 10px 15px;
  background: #dc3545;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
  pointer:cursor;

}


.linkUPP a{
  padding: 10px 15px;
  background: #007bff;
  color: #FFF  !important;
  border-radius: 5px;
  text-decoration: none;

  pointer:cursor;
}
.linkUPP a:hover{
  text-decoration: none;
}

